# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.GardenOfDreamsTestTask.iml
# Datasource local storage ignored files
/../../../../../../../:\Users\Menn\GardenOfDreamsTestTask\.idea\.idea.GardenOfDreamsTestTask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
